

.sidebar.active {
    width: 12rem;
    visibility: visible;
}
.subsidebar.active {
    width: 12rem;

}

@media screen and (max-width: 300) {

    .sidebar {
        visibility: hidden;
        width: 0rem;
        position: fixed;
        z-index: 50;

    }
    .home {
        display: none;
    }
    .logo {
        display: none;
    }



}

@media screen and (max-width: 1279px) {

    .sidebar {
        visibility: hidden;
        width: 0rem;
        position: fixed;
        z-index: 50;

    }
    .home {
        display: none;
    }
    .logo {
        display: none;
    }

}


  /* @media screen and (max-width: 932px) {

  } */
